version: 2
jobs:
  test:
    docker:
    - image: circleci/golang:1.12
    working_directory: ~/workspace
    steps:
    - checkout
    - setup_remote_docker:
        docker_layer_caching: true
    - run: docker build -t quay.io/ktbartholomew/nsmaker:$CIRCLE_SHA1 .
workflows:
  version: 2
  test:
    jobs:
    - test
